table {
border-collapse: collapse;
width: 90%;
margin: 20px auto;}
th, td {padding: 10px;
border: 1px solid #aaa;
text-align: center;}
th {background-color: #eee;}
a.torles {color: red;text-decoration: none;}